<h2 class="pb-4 fw-semibold">
  <i class="bi-people me-2"></i>
  Users
</h2>

<div class="table-responsive border rounded">
  <table class="text-nowrap table align-middle m-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Last Activity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>
          <div class="d-flex flex-column align-items-start">
            <h5 class="mb-1">{{ user.name }}</h5>
            <p class="mb-0 text-secondary">
              {{ user.name | lowercase }}@example.com
            </p>
          </div>
        </td>
        <td>Front End Developer</td>
        <td>3 May, 2023</td>
        <td>
          <div class="dropdown">
            <a class="text-muted text-primary-hover" href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="15px"
                height="15px"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-muted"
              >
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
              </svg>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
