<div class="d-flex flex-column flex-shrink-0 p-3 h-100" style="width: 280px">
  <a href="/" class="d-flex align-items-center ms-2 mb-md-4 me-md-auto link-body-emphasis text-decoration-none">
    <i class="bi-bootstrap me-2 fs-2"></i>
    <span class="fs-4">JosiArchitecture</span>
  </a>
  <div class="text-uppercase text-secondary mb-3">Main menu</div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link active" aria-current="page">
        <i class="bi-house me-2"></i>
        <span>Users</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/other']" href="#" class="nav-link">
        <i class="bi-speedometer2 me-2"></i>
        <span>Other page</span>
      </a>
    </li>
  </ul>
</div>
